<!DOCTYPE html>
<html lang="en">
  <head>
    
    <% include "common/base.header" %>
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action="<%- @getFullUrl()%>" method="POST" role="form">
              <h1><%- @getAppRes("Login Form")%></h1>
              <div>
                <input type="text" class="form-control" placeholder='<%- @getAppRes("field.username","Username")%>' name="username" required="" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder='<%- @getAppRes("field.password","Password")%>' name="password" required="" />
              </div>
              <% if(@model.error_message) :%>
                <div class="error">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <strong>Title!</strong> <%- @model.error_message %>
                </div>
              <%end%>
              <div>
                <input type="submit" value="<%- @getAppRes('Log in')%>" class="btn btn-default submit"/>
                
                <a class="reset_pass" href="#"><%- @getAppRes("Lost your password")%>?</a>
              </div>

              <div class="clearfix"></div>
              

              

              <div class="separator">
                <p class="change_link">New to site?
                  <a href="#signup" class="to_register"> Create Account </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <!-- <div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div> -->
              </div>
            </form>
          </section>
        </div>

       
      </div>
    </div>
    <% include 'common/base.footer' %>
  </body>
</html>
