<!DOCTYPE html>
<html lang="en">
    <head>
            <% include "common/base.header" %>
            <% include "common/base.header.css" %>
    </head>
  
  <body>  
      <!-- Header Section Start -->
    <% include 'common/body.header' %>
  
    <% content %>
    <!-- Footer Section Start -->
    <% content 'body-footer' %>
    
    <!-- Footer Section End -->  
    
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="ti-arrow-up"></i>
    </a>

    <% include 'common/base.loading' %>
        
    <!-- Main JS  -->
    <% include 'common/base.main.js' %>
    
  </body>
</html>