<div class="header">    
        <!-- Start intro section -->
        <section id="intro" class="section-intro">
          <div class="logo-menu">
          <% include "common/body.header.nav" %>

          <!-- Off Canvas Navigation -->
          <!-- < !-- include "common/body.header.Navigation" %> -->
          <!--- End Off Canvas Side Menu -->
          
      </div>
      <!-- Header Section End -->  
      <% content 'search' %>  

      
    </section>
    <!-- end intro section -->
    </div>