<section id="blog" class="section">
        <!-- Container Starts -->
        <div class="container">
          <h2 class="section-title">
            Latest News
          </h2>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">
              <!-- Blog Item Starts -->
              <div class="blog-item-wrapper">
                <div class="blog-item-img">
                  <a href="single-post.html">
                    <img src="assets/img/blog/home-items/img1.jpg" alt="">
                  </a>                
                </div>
                <div class="blog-item-text">
                  <div class="meta-tags">
                    <span class="date"><i class="ti-calendar"></i> Dec 20, 2017</span>
                    <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                  </div>
                  <a href="single-post.html">
                    <h3>
                      Tips to write an impressive resume online for beginner
                    </h3>
                  </a>
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                  </p>
                  <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                </div>
              </div>
              <!-- Blog Item Wrapper Ends-->
            </div>
  
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">
              <!-- Blog Item Starts -->
              <div class="blog-item-wrapper">
                <div class="blog-item-img">
                  <a href="single-post.html">
                    <img src="assets/img/blog/home-items/img2.jpg" alt="">
                  </a>                
                </div>
                <div class="blog-item-text">
                  <div class="meta-tags">
                    <span class="date"><i class="ti-calendar"></i> Jan 20, 2018</span>
                    <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                  </div>
                  <a href="single-post.html">
                    <h3>
                      Let's explore 5 cool new features in JobBoard theme
                    </h3>
                  </a>
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                  </p>
                  <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                </div>
              </div>
              <!-- Blog Item Wrapper Ends-->
            </div>
  
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">
              <!-- Blog Item Starts -->
              <div class="blog-item-wrapper">
                <div class="blog-item-img">
                  <a href="single-post.html">
                    <img src="assets/img/blog/home-items/img3.jpg" alt="">
                  </a>                
                </div>
                <div class="blog-item-text">
                  <div class="meta-tags">
                    <span class="date"><i class="ti-calendar"></i> Mar 20, 2018</span>
                    <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                  </div>
                  <a href="single-post.html">
                    <h3>
                      How to convince recruiters and get your dream job
                    </h3>
                  </a>
                  <p>
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                  </p>
                  <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                </div>
              </div>
              <!-- Blog Item Wrapper Ends-->
            </div>
          </div>
        </div>
      </section>