<section class="section text-center" >
        <div class="container">
                  <!-- Start Animations Text -->
                  <h1>
  
                      You are using Free Lite version of Job Board<br> Purchase Full version to Get all Pages and Features
                  </h1>
                <br>
                  <!-- End Animations Text -->
  
                  <!-- Start Buttons -->
                  <a rel="nofollow" target="_blank" href="https://rebrand.ly/gg-jobboard-purchase" class="btn btn-common btn-large"><i class="fa fa-cart"></i> Purchase Now</a>
          </div>
        </div>
</section>