<section class="clients section">
        <div class="container">
          <h2 class="section-title">
            Clients & Partners
          </h2>
          <div class="row"> 
            <div id="clients-scroller">
              <div class="items">
                <img src="assets/img/clients/img1.png" alt="">
              </div>
              <div class="items">
                <img src="assets/img/clients/img2.png" alt="">
              </div>
              <div class="items">
                <img src="assets/img/clients/img3.png" alt="">
              </div>
              <div class="items">
                <img src="assets/img/clients/img4.png" alt="">
              </div>
              <div class="items">
                <img src="assets/img/clients/img5.png" alt="">
              </div>
              <div class="items">
                <img src="assets/img/clients/img6.png" alt="">
              </div>
              <div class="items">
                <img src="assets/img/clients/img6.png" alt="">
              </div>
              <div class="items">
                <img src="assets/img/clients/img6.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>