<section id="counter">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="counting">
                <div class="icon">
                  <i class="ti-briefcase"></i>
                </div>
                <div class="desc">                
                  <h2>Jobs</h2>
                  <h1 class="counter">12050</h1>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="counting">
                <div class="icon">
                  <i class="ti-user"></i>
                </div>
                <div class="desc">
                  <h2>Members</h2>
                  <h1 class="counter">10890</h1>                
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="counting">
                <div class="icon">
                  <i class="ti-write"></i>
                </div>
                <div class="desc">
                  <h2>Resume</h2>
                  <h1 class="counter">700</h1>                
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="counting">
                <div class="icon">
                  <i class="ti-heart"></i>
                </div>
                <div class="desc">
                  <h2>Company</h2>
                  <h1 class="counter">9050</h1>                
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>