<section id="testimonial" class="section">
        <div class="container">
          <div class="row">
            <div class="touch-slider" class="owl-carousel owl-theme">
              <div class="item active text-center">  
                <img class="img-member" src="assets/img/testimonial/img1.jpg" alt=""> 
                <div class="client-info">
                 <h2 class="client-name">Jessica <span>(Senior Accountant)</span></h2>
                </div>
                <p><i class="fa fa-quote-left quote-left"></i> The team that was assigned to our project... were extremely professional <i class="fa fa-quote-right quote-right"></i><br> throughout the project and assured that the owner expectations were met and <br> often exceeded. </p>
              </div>
              <div class="item text-center">
                <img class="img-member" src="assets/img/testimonial/img2.jpg" alt=""> 
                <div class="client-info">
                 <h2 class="client-name">John Doe <span>(Project Menager)</span></h2>
                </div>
                <p><i class="fa fa-quote-left quote-left"></i> The team that was assigned to our project... were extremely professional <i class="fa fa-quote-right quote-right"></i><br> throughout the project and assured that the owner expectations were met and <br> often exceeded. </p>
              </div>
              <div class="item text-center">
                <img class="img-member" src="assets/img/testimonial/img3.jpg" alt=""> 
                <div class="client-info">
                  <h2 class="client-name">Helen <span>(Engineer)</span></h2>
                </div>
                <p><i class="fa fa-quote-left quote-left"></i> The team that was assigned to our project... were extremely professional <i class="fa fa-quote-right quote-right"></i><br> throughout the project and assured that the owner expectations were met and <br> often exceeded. </p>
              </div>
            </div>
          </div>
        </div>
      </section>