
<script src="<%=getAppStatic('scripts/promise-6.1.0.js')%>"></script>
<script src="<%=getAppStatic('scripts/angular.min.js')%>"></script>

<script src="<%=getAppStatic('angular-ui-grid/ui-grid.core.min.js')%>"></script>
<script src="<%=getAppStatic('angular-ui-grid/ui-grid.cellnav.min.js')%>"></script>
<script src="<%=getAppStatic('angular-ui-grid/ui-grid.edit.min.js')%>"></script>
<script src="<%=getAppStatic('angular-ui-grid/ui-grid.move-columns.min.js')%>"></script>
<script src="<%=getAppStatic('scripts/fix-grid-height.js')%>"></script>
<script src="<%=getAppStatic('scripts/ngDirectives.js')%>"></script>
<script src="<%=getAppStatic('scripts/ws.js')%>"></script>
<script src="<%=getAppStatic('directives/dr.js')%>"></script>
<script src="<%=getAppStatic('directives/dr-date-picker.js')%>"></script>
<script src="<%=getAppStatic('directives/dr-html-editor.js')%>"></script>
<script src="<%=getAppStatic('directives/dr-lookup-box.js')%>"></script>
<script src="<%=getAppStatic('directives/dr-pager.js')%>"></script>
<script src="<%=getAppStatic('directives/dr-select.js')%>"></script>
