<script src="<%=getAppStatic('scripts/promise-6.1.0.js')%>"></script>
<script src="<%=getAppStatic('scripts/angular.min.js')%>"></script>
<script src="<%=getAppStatic('scripts/ngDirectives.js')%>"></script>
<script src="<%=getAppStatic('scripts/ws.js')%>"></script>
<script src="<%=getAppStatic('scripts/directives/dr.js')%>"></script>
<script src="<%=getAppStatic('scripts/directives/dr-date-picker.js')%>"></script>
<script src="<%=getAppStatic('scripts/directives/dr-html-editor.js')%>"></script>
<script src="<%=getAppStatic('scripts/directives/dr-lookup-box.js')%>"></script>
<script src="<%=getAppStatic('scripts/directives/dr-pager.js')%>"></script>
<script src="<%=getAppStatic('scripts/directives/dr-select.js')%>"></script>
<script src="<%=getAppStatic('scripts/app.js')%>"></script>