<!-- jQuery -->
<script src="<%- @getAppStatic('vendors/jquery/dist/jquery.min.js')%>"></script>
<!-- Bootstrap -->
<script src="<%- @getAppStatic('vendors/bootstrap/dist/js/bootstrap.min.js')%>"></script>
<!-- FastClick -->
<script src="<%- @getAppStatic('vendors/fastclick/lib/fastclick.js')%>"></script>
<!-- NProgress -->
<script src="<%- @getAppStatic('vendors/nprogress/nprogress.js')%>"></script>
<!-- Chart.js -->
<script src="<%- @getAppStatic('vendors/Chart.js/dist/Chart.min.js')%>"></script>
<!-- gauge.js -->
<script src="<%- @getAppStatic('vendors/gauge.js/dist/gauge.min.js')%>"></script>
<!-- bootstrap-progressbar -->
<script src="<%- @getAppStatic('vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')%>"></script>
<!-- iCheck -->
<script src="<%- @getAppStatic('vendors/iCheck/icheck.min.js')%>"></script>
<!-- Skycons -->
<script src="<%- @getAppStatic('vendors/skycons/skycons.js')%>"></script>
<!-- Flot -->
<script src="<%- @getAppStatic('vendors/Flot/jquery.flot.js')%>"></script>
<script src="<%- @getAppStatic('vendors/Flot/jquery.flot.pie.js')%>"></script>
<script src="<%- @getAppStatic('vendors/Flot/jquery.flot.time.js')%>"></script>
<script src="<%- @getAppStatic('vendors/Flot/jquery.flot.stack.js')%>"></script>
<script src="<%- @getAppStatic('vendors/Flot/jquery.flot.resize.js')%>"></script>
<!-- Flot plugins -->
<script src="<%- @getAppStatic('vendors/flot.orderbars/js/jquery.flot.orderBars.js')%>"></script>
<script src="<%- @getAppStatic('vendors/flot-spline/js/jquery.flot.spline.min.js')%>"></script>
<script src="<%- @getAppStatic('vendors/flot.curvedlines/curvedLines.js')%>"></script>
<!-- DateJS -->
<script src="<%- @getAppStatic('vendors/DateJS/build/date.js')%>"></script>
<!-- JQVMap -->
<script src="<%- @getAppStatic('vendors/jqvmap/dist/jquery.vmap.js')%>"></script>
<script src="<%- @getAppStatic('vendors/jqvmap/dist/maps/jquery.vmap.world.js')%>"></script>
<script src="<%- @getAppStatic('vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')%>"></script>
<!-- bootstrap-daterangepicker -->
<script src="<%- @getAppStatic('vendors/moment/min/moment.min.js')%>"></script>
<script src="<%- @getAppStatic('vendors/bootstrap-daterangepicker/daterangepicker.js')%>"></script>

<!-- Custom Theme Scripts -->
<script src="<%- @getAppStatic('build/js/custom.min.js')%>"></script>