<% extend 'base' %>



<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><%- @getAppRes("List of users")%></h2>
            <ul class="nav navbar-right panel_toolbox">
            <li><a href="<%- @getAppUrl('accounts/users?action=new')%>"" ><i class="fa fa-edit"></i>EDIT</a>
            </li>
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
                <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><%- @getAppRes("Username") %></th>
                                <th><%- @getAppRes("Display name") %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in data.items">
                                <td>{{p.Username}}</td>
                                <td>{{p.DisplayName}}</td>
                            </tr>
                        </tbody>
                    </table>

            

          </div>
        </div>
      </div>

<script>
    function startUp(scope){
        console.log(scope);
        var ws=ajax().create("<%- @getFullUrl()%>");
        ws.call("getListOfUsers")
        .done(function(res){
            scope.data=res;
            scope.$applyAsync();
        });    
    }
</script>